@model CLVD6212_POEPART3.Models.Product
@{
    ViewData["Title"] = "My Work";
}

<h1>@ViewData["Title"]</h1>

<body>
    <form action="/Product/MyWork" method="post">
        <p>Insert new products</p>
        <input type="text" name="Name" placeholder="Name" required>
        <input type="text" name="Price" placeholder="Price" required>
        <input type="text" name="Category" placeholder="Category" required>
        <input type="text" name="Availability" placeholder="Availability" required>
        <button type="submit">Submit</button>
    </form>
</body>